@media screen and (max-width:750px){
/* top */
.pc {
  display: none;
}

.sp {
  display: block;
}

#hamburger {
  width: 51px;
  height: 45px;
  position: absolute;
  top: 50%;
  right: 0%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  
  
}

.inner_line {
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: rgb(0, 0, 0);
  border-radius: 10px;
  transition: 0.7s;
}


#line2 {
  top: 14px;
}

#line3 {
  position: absolute;
  bottom: 0;
}


  header {
    
    z-index: 10;
  }

 

  .header-img {
    width: 30%;
  }

  .header-img img {
    width: 100%;
  }

  .page-title-group {
    width: 100%;
  }

  .top h1 {
    color: white;
    font-size: 150%;
    width: 100%;
    line-height: 250%;
  }

  .concept h2, .blog h2, .news h2{
    margin: 0;
    padding-top: 10%;
    font-size: 190%;
  }

  .title-box {
    width: 100%;

  }
  .concept p {
    text-align: left;
    font-size:100%;
    width: 80%;
    padding-left: 10%;
    padding-top: 10%;
  }

  .blog-posts, .news-posts{
    justify-content: space-around;
    flex-direction: column;
  }

    .post {
      width: 100%;
      margin-top: 10%;
    }

/*     
    video {
      min-width: 100%;
      min-height: 100%;
      position: fi;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: -10;
      background-size: cover;
    }
     */
    /* .video-top {
      min-height: 1vh;
    } */
    /* .video-wrap2 {
      min-height: 350vh;
    } */
    
    .view-btn{
      width: 90%;
    }

    .concept {
      height: 50vh;
      text-align: center;
      background: url(imgs/leaf.png);
      background-size: cover;
  }




  /* brands ブランド */
  .shinzenbi-about ,.meaning-about {
    display: inline-block;
    
  }

  .shinzenbi-about-text, .meaning-about-text  {
    width: 100%;
    z-index: 10;
    margin-bottom: 10%;
    /* z-index: 5; */
  }

  .brands-posts {
    display: flex;
    flex-direction: column;
  }

  .brands-posts .post {
    width: 100%;
  }

  .shinzenbi {
    background-color:  rgb(255, 255, 255 );
    padding-top: 30%;
    position: relative;
    z-index: 1;
  }

  .meaning {
    background-color:  rgba(255, 255, 255, 0.7);
    padding-top: 10%;
    padding-bottom: 30%;
    position: relative;
    z-index: 1;
  }
 
  .shinzenbiBlock, .meaningBlock {
    background-color:  rgba(255, 255, 255, 0.7);
    box-shadow: 0 10px 25px 0 rgba(121, 120, 120, 0.5);
    width: 90%;
    margin: 0 auto;
    
  }

  .shinzenbiBlock {
    position: relative;
    z-index: -1;
  }
   
  .shinzenbi-about-imgs, .meaning-about-imgs {
    position: absolute;
    top:0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }

  .meaning-about-text {
    padding-left: 0%;
  }

  .flower-sp {
    position: absolute;
    top: -35%;
    left:  8%;
    height: 12%;
    width: 60%;
    object-position: 0 100%;
    object-fit: cover;
    z-index: 1;
  }

  .sky-sp {
    position: absolute;
    top: -28%;
    left: -20%;
    height: 12%;
    width: 60%;
    object-fit:cover;
    
  }

  /* .tree-sp1 {
    position: absolute;
    bottom: -16%;
    height: 110px;
    width: 70%;
    object-fit:cover;
    z-index: ;
  } */
  
  .tree-sp  {
    position: absolute;
    top: -20%;
    right: -20%;
    height: 110px;
    width: 70%;
    object-fit:cover;
    z-index: -3;
  }

  .woods-sp  {
    position: absolute;
    left: 5%;
    top: 100%;
    height: 7%;
    width: 70%;
    object-fit:cover;
    z-index: -1;
  }


  .leaf2-sp  {
    position: absolute;
    left: -25%;
    bottom: -10%;
    height: 7%;
    width: 70%;
    object-fit:cover;
    z-index: -2;
  }

  .brandsnews-posts .view-btn {
    margin-top: 13%;
  }

/*  column1 ラジカル化オゾン水とは  */
  .domino p ,.relation p,.environment p{
    width: 100%;
    padding: 5% 0 ;
    margin: 0 auto;
    font-size: 120%;
    text-align: left;
  }

  .domino , .relation{
    padding-bottom: 10%;
  }

        
  .environment .img-group {
    display: flex;
    flex-wrap: wrap;
  }

  .img50 {
    width: 100%;
  }

  .g50sp {
    width: 100%;
  }

  .g42sp {
    width: 100%;
  }

  .img-group1 p:nth-of-type(1) {
    background-color: rgb(59, 94, 207);
    color: white;
    border-radius: 50px;
    margin-bottom: 5%;
    padding: 2% 0;
    text-align: center;
    font-size: 110%;
    width: 90%;
  }
  .img-group1 p:nth-of-type(3) {
    background-color: rgb(195, 236, 238);
    border-radius: 50px;
    margin: 5% auto;
    padding: 0;
    text-align: center;
    width: 80%;
  }

  .img-group1 ul:nth-of-type(1) {
    border: solid 5px  rgb(59, 94, 207);
    width: 55%;
    text-align: left;
    padding: 5% 0;
    padding-left: 13%;
    padding-right: 5%;
    margin: 13%;
  }


  .img-group1 ul:nth-of-type(2) {
    list-style: none;
    width: 100%;
    padding: 0;
  }

  .img-group1 li {
    font-size: 110%;
  }

  .blueArrow {
    margin: 0 auto;
  }

  .g23sp, .g50sp{
    /* width: 100%; */
  }
  
  .g23sp {
    width: 90%;
    margin: auto;
  }

  .g44sp {
    width: 80%;
    margin: auto;
  }

  .g52 {
    width: 100%;
    margin-top: 10%;
  }

  .text4 {
    position: relative;
    top: -7%;    
    left: 15%;
  }

  /*  column2 ラジカル化オゾン水とは  */
  .colmn2-about-text  {
    width: 100%;
    padding: 0;
  }
  .colmn2-about-text h3 {
    width: 100%;
    padding-top: 5%;
  }

  .colmn2-about-text p {
    width: 90%;
    margin-top: 4%;
  }


  /* CONTACT お問合わせ */
  .contact {
    padding-bottom: 0;
  }

  .form {
    margin: 0;
    width: 90%;
  }

  .formItem {
    display: flex;
    margin: 7% 0;
    flex-wrap: wrap;
  }

  .formItem input {
    height: 40px;
    width: 100%;
  }

  .formItem select {
    height: 45px;
    width: 100%;
  }
  
  .formItem textarea{
    width: 100%;
    /* height: 100%; */
  }

  .submit {
    width: 90%;
    margin-top: 5%;
    margin-bottom: 10%;
  }



/* GREETING 代表からご挨拶 */
.greeting {
  background-image: none;
  background-color: white;
  display: flex;
  flex-direction: column;
  height: auto;
}

.greeting img {
  width: 100%;
}

.greeting-text{
  width: 85%;
  margin: 0 auto;
  padding: 10% 0;
  font-size: 100%;
 }

 .company1 {
   padding-bottom: 0%;
   padding-top: 10%;
 }
 .company2 {
   padding-bottom: 10%;
   padding-top: 10%;
 }

 .company1-text {
   width: 100%;
   margin: 0 auto;
   margin: 0;
   box-sizing: border-box;
 }

 .company2-text {
  background-color: white;
  padding: 10% 5%;
  display: flex;
  flex-direction: column;
}

.company2-text p{
  width: 100%;
  margin-top: 15%;
}



/* company 会社案内 */
.company {
  padding: 10% 0%;
}


.company tr, .company th, .company td {
  text-align: left;
  display: block;
  border: hidden;
}

.company tr {
  border-top: solid 1px black;
  padding: 0 5%;
  
}

.company th{
  width: 100%;
}

table tr:last-child {
  border-bottom: solid 1px black;
}

iframe {
  height: 250px;
}

}