body {
  font-family:
  YuMincho,  /*Mac用*/
  'Yu Mincho',  /*Windows用*/
  serif;
  margin: 0;
  box-sizing: border-box;
}

.sp {
  display: none;
}

p,h1,h2,h3{
  margin: 0;
  font-weight: normal;
}



.hd-wrapper {
  width: 80%;
  margin: 0 auto;
}

.wrapper {
  margin: 0 auto;
  width: 80%;
}

header{
  height: 20vh;
  z-index: 100;
  background-color: white;
}

.header-contents {
  position: relative;
  height: 20vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-img {
  width: 20%;
  
}

.header-img img{
  width: 100%;
}



.menu {
  list-style: none;
  margin: 0;
  width: 60%;
  padding: 0;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.menu li {

  text-align: center;
  display: inline-block;
  border-radius: 5px;
  padding: 1% 1%;
  transition: 0.3s;
  position: relative;
}

.menu  > li {
  position: relative;
}

.menu  li:hover:before {
  background-color: rgba(255,255,255,0.5);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: '';
  cursor: pointer;
}



.menu li  a {
  display: inline-block;
  height: 100%;
  color: black;
  text-decoration: none;
  font-size: 80%;
}

.menu a::first-line {
  font-size: 130%;
}

.column-menu {
  position: relative;
}

.sub {
  position: absolute;
  display: none;
  width: 200%;
  padding: 0;
  font-size: 80%;
  text-align: left;
  z-index: 100;
}

.sub li {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 0;
}


.arrow1:before{
  display: inline-block;
  content: '';
  width: 10px;
  height: 10px;
  /* border: 0; */
  border-bottom: solid 1px  black;
  border-right: solid 1px black;
  transform: rotate(45deg);
}


.blue {
background-color: #2170C3;
}

.menu .blue a {
  color: white;
}

.blue:hover {
  transform: translateY(6px);
}

hr {
  border: none;
  border-top: 3px #2170C3 solid;
  width: 45px;
}

footer {
  text-align: center;
  height: 20vh;
  font-size: 75%;
  line-height: 20vh;
  background-color: white;
}


.top {
  height: 90vh;
  position: relative;
  text-align: center;
}

.top h1 {
  color: white;
  width: 100%;
  font-size: 270%;
  line-height: 190%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%)translateX(-50%);
  -webkit-transform: translateY(-50%)translateX(-50%);
}

.video-wrap {
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
}

video {
  min-width: 100%;
  min-height: 100%;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -10;

}


.video-wrap2 {
  min-height: 170vh;
  width: 100%;
  position: relative;
  overflow: hidden;
}


.concept {
  height: 90vh;
  text-align: center;
  background: url(imgs/leaf.png);
  background-size: cover;
}

.background {
  position: relative;
}

.background::before {
  background-color: rgba(255,255,255,0.5);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: '';
}


.title-box {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
}

.group {
  z-index: 20;
}


.blog {
  height: 100%;
  width: 100%;
  text-align: center;
  
  background-color: rgba(255,255,255,0.8);
}
.concept h2, .blog h2, .news h2{
  margin: 0;
  padding-top: 5%;
  font-size: 250%;
  font-weight: normal;
}

.blog p, .news p {
  font-size: 120%;
}

.concept p {
  font-size: 160%;
  margin-top: 5%;
}


.blog-posts, .news-posts{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

}

.post {
  width: 30%;
  text-align: left;
  background-color: white;
  border-radius: 20px;
  margin: 3% 1% 0 1%;
  overflow: hidden;
}

.post img {
  width: 100%;
  display: block;
  transition: 0.5s;
}

.post img:hover{
  transform: scale(1.1, 1.1);
}
.post-img {
  overflow: hidden;
}

.post-text {
  padding: 25px;
  z-index: 5;
}

.news {
  background-color: rgba(255,255,255,0.8);
  text-align: center;
  width: 100%;
  
}

.view-btn:hover{
  background-color: black;
}
.view-btn p {
  padding: 10px 0;
}
.view-btn p:hover {
  color: rgb(243, 236, 236);
}

.view-btn{
  display: inline-block;
  border: black solid medium;
  width: 35%;
  margin-top: 7%;
  margin-bottom: 7%;
  text-align: center;
  font-weight: bold;
  border-radius: 30px;
  position: relative;
}

.arrow2 {
  float: right;
  width: 30px;
  height: 5px;
  border-bottom: 2.5px solid #000;
  border-right: 3px solid #000;
  position: absolute;
  right: 5%;
  top: 37%;
  transform: skew(45deg);
}

.arrow2:hover{
  border-bottom: 2.5px solid white;
  border-right: 3px solid white;
}




/* brands ブランド */

.shinzenbi  {
  background-color: rgba(255, 255, 255);
  padding-bottom: 7%;
}
.meaning  {
  background-color: rgba(255, 255, 255, 0.8);
  padding-bottom: 7%;
}


.brandsnews-posts {
  background-color: rgba(255, 255, 255);
}
.shinzenbi p, .meaning p {
  font-size: 110%;
}

.shinzenbi-about, .meaning-about {
  position: relative;
  display: flex;
  justify-content: space-around;
  margin-top: 5%;
}

.shinzenbi-about-text, .meaning-about-text {
  width: 50%;
}
.meaning-about-text {
  float: left;
}

.shinzenbi-about-imgs, .meaning-about-imgs {
  position: relative;
  width: 50%;
}

.flower {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 5;
}

.sky {
  position: absolute;
  bottom: 0;
  left: 5%;
}

.woods  {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  z-index: 4;
}

.tree  {
  position: absolute;
  top: 0;
  right: 10%;
  z-index: 5;
}

.leaf2  {
  position: absolute;
  bottom: 0;
  right: 10%;
}

.brandsnews-posts {
  text-align: center;
}

.brands-posts {
  display: flex;
  justify-content: center;
  margin-top: 5%;
}

.brands-posts .post-text {
  background-color: rgb(204, 238, 238);
}






/* column1 口臭とは？ */
.page-title {
  text-align: center;
  height: 40vh;
  position: relative;
  background-color: rgba(255, 255, 255, 0.8);
}

.page-title-group {
  font-size: 120%;
  line-height: 190%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%)translateX(-50%);
  -webkit-transform: translateY(-50%)translateX(-50%);
}

.page-title-group p {
  font-size: 95%;
}

.sub-title {
  text-align: center;
  padding-top: 10%;
  font-size: 24px;
}

.domino {
  background-color: rgba(255, 255, 255);
}

.domino p ,.relation p,.environment p{
  width: 72%;
  padding: 5% 0 ;
  margin: 0 auto;
  font-size: 120%;
}

.img50 {
  width: 85%;
  margin: 0 auto;
}

.g50 {
  width: 100%;
}

.relation {
  background-color: rgba(255, 255, 255, 0.8);
  padding-bottom: 10%;
}

.relation .wrapper {
  background-color: white;
}

.img23 {
  margin-top: 10%;
}

.g23 {
  width: 100%;
  
}


.img-group {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  text-align: center;
}

.g53, .g52 {
  width: 100%;
}


.img-group1 p {
  width: 90%;
}

.environment {
  background-color: rgba(255, 255, 255);
}


/* column2 ラジカル化オゾン水とは */
.colmn2-about {
  background: url(imgs/water.png);
  background-size: cover;
  overflow: hidden;
  margin: 0;
  
}


.colmn2-about h3 {
  text-align: center;
  padding-top: 5%;
  margin: 5% 0;
  font-size: 150%;
  font-weight: normal;
  
}

.colmn2-about-text p {
  font-size: 90%;
  text-align: left;
  padding-bottom: 10%;
  margin: 0 auto;
  letter-spacing: 2px;
  line-height: 200%;
}

.colmn2-about-text {
  background-color: rgba(121, 117, 117, 0.5);
  color: white;
  position: relative;
  margin: 7% auto;
  padding: 0 22%;
}


/* CONTACT お問合わせ */
.contact {
  background-color: white;
  padding-bottom: 5%;
}

.contactText {
  text-align: center;
  padding: 7% 0;
}

.form {
  width: 55%;
  margin: 0 auto;
  border: 2px solid #2170C3;
  padding: 3% 5%;
  
}
.formText {
  margin-bottom: 10%;
}

.formItem {
  display: flex;
  margin: 7% 0;
  justify-content: space-between;
}

.formItem input {
  height: 30px;
  width: 65%;
}

.formItem select {
  height: 38px;
  width: 66.5%;
}

.formItem span {
  color: red;
  font-size: 70%;
  vertical-align: top;
}

.formItem textarea{
  width: 65%;
}

.submit {
  display: inline-block;
  background-color:#2170C3;
  width: 50%;
  height: 50px;
  border-radius: 30px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  border-width: 0px;
  color: white;
  transition: 0.3s;
}

.submit:hover {
  opacity: 0.7;
}

textarea::placeholder {
 font-family:
 YuMincho,  /*Mac用*/
 'Yu Mincho',  /*Windows用*/
 serif;
}


/* GREETING 代表からご挨拶 */
.greeting {
  position: relative;
  background-image: url(imgs/代表挨拶背景白.png);
  background-size: cover;
  display: flex;
  justify-content: center;

}

.greeting img{
  width: 30%;
}

.greeting-text{
 width: 45%;
 padding: 5% 0%;
}

.company1 , .company2{
  background-color: rgba(255,255,255,0.8);
  padding: 5% 0;
}
.company1-text {
  width: 50%;
  margin: 0 auto;
  background-color: white;
  padding: 0 10%;
  padding-bottom: 5%;
}

.company1-text h4 {
  text-align: center;
  margin: 7% 0;
  font-size: 140%;
  font-weight: normal;
}

.company2{ 
  padding-top: 0;
}

.company2-text {
  background-color: white;
  padding: 10% 5%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.company2-text div {
  background-color: #2170C3;
  display: inline-block;
  color: white;
  width: 230px;
  height: 230px;
  border-radius: 50%;
  text-align: center;
  line-height: 230px;
  font-size: 190%;
}

.company2-text p {
  width: 60%;
}


/* company 会社案内 */
.company {
  background-color: white;
  padding: 10% 13%;
  /* text-align: center; */
}

.company table {
  width: 100%;
  margin: 0 auto;
}

.company th{
  padding: 3% 0;
  border-top:solid 2px#2170C3;
  width: 25%;
}

.bottom th{
  border-bottom:solid 2px#2170C3;
}

.company td {
  border-top:solid 2px rgb(203, 204, 207);
  width: 100%;
  padding: 3% 0;
  text-align: center;
}

.bottom td {
  border-bottom:solid 2px rgb(203, 204, 207);
}

.company p {
  margin-top: 10%;
  font-size: 115%;
}

iframe {
  margin: 0% auto;
  width: 100%;
}



/* ラジカル化オゾン水LP */
.lp-top {
  padding: 5% 10%;
  height: 55vh;
  position: relative;
}

.lp-top h1 {
  width: 70%;
  color: white;
  font-size: 250%;
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
}

.lp-top img{
  display: block;
  width: 30%;
  height: 80%;
  background-color: white;
  position: absolute;
  top: 50%;
  right: 10%;
  transform: translateY(-50%);
  -webkit-transform: transl
}

.lp-subTitle {
  text-align: center;
  font-size: 250%;
}

.lp-concept {
  position: relative;
}

.lp-conceptText {
  width: 50%;
  text-align: left;
  position: absolute;
  top: 50%;
  left: 15%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
}

.lp-conceptText p:nth-of-type(2) {
  color: beige;
  font-size: 100%;
}
.lp-conceptText p:nth-of-type(3) {
  color: beige;
  font-size: 100%;
}

.lp-concept img{
  display: block;
  width: 30%;
  height: 80%;
  background-color: white;
  position: absolute;
  top: 50%;
  right: 15%;
  transform: translateY(-50%);
  -webkit-transform: transl
}

.lp-brands{
  background-color: white;
  padding: 5% 0;
}

.flame {
  width: 100%;

  position: relative;
  /* left:0%; */
}

.lp-shinzenbiAbout {
  display: flex;
  justify-content: space-around;
}

.lp-shinzenbiAboutText {
  width:80%;
  position: relative;
}


.lp-shinzenbiAboutText div {
  position: absolute;
  top: 0%;
  left: 10%;
  width: 85%;
}


.lp-shinzenbi-about-imgs {
  position: relative;
  width: 40%;
}

.lp-shinzenbi-about-imgs .flower{
  position: absolute;
  top: 0;
  right:0%;
}

.lp-shinzenbi-about-imgs .sky {
  position: absolute;
  top: 40%;
  left:50%;
}

.lp-meaningAbout {
  display: flex;
  justify-content: space-around;
}

.lp-meaning-about-text {
  width:60%;
  position: relative;
  right: -10%;
}

.lp-meaning-about-text .flame {
  height: 80%;
}


.lp-meaning-about-text div {
  position: absolute;
  top: 5%;
  right: 13%;
  width: 70%;
}

.lp-meaning-about-imgs {
  width: 40%;
}

.lp-meaning-about-imgs .tree{
  position: absolute;
  top: 10%;
  left: 8%;
  width: 35%;
}

.lp-meaning-about-imgs .woods {
  position: absolute;
  top: 45%;
  left: 0%;
}

.lp-meaning-about-imgs .leaf2 {
  position: absolute;
  bottom: 25%;
  left: 15%;
  width: 20%;
} 


.lp-column {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 5% 0;
}

.lp-miniTitle {
  padding-top: 0%;
}

.lp-domino, .lp-relation, .lp-environment, .lp-colmn2-about {
  background: white;
  padding: 5%;
  margin-top: 5%;
}

.lp-dominoContents {
  display: flex;
  justify-content: space-around;
}

.lp-dominoContents div {
  width: 50%;
}

.lp-img50 {
  width: 50%;
}

.lp-img50 .g50sp {
  width: 60%;
}

.lp-relation .img23 .g23 {
  margin-bottom: 0;
}

.lp-environment1, .lp-environment2, .lp-colmn2About {
  display: flex;
  justify-content: space-around;
  padding-top: 5%;
}

.lp-environment1Text {
  width:30%;
  margin:  auto;
}

.lp-img-group1 {
  width: 50%;
}

.lp-environment1Text ul:nth-of-type(1) {
  border: solid 3px rgb(59, 94, 207);
}

.lp-environment1Text ul:nth-of-type(2) {
  list-style-type: none;
}

.lp-img-group1 p:nth-of-type(1) {
  background-color: rgb(59, 94, 207);
  color: white;
  border-radius: 50px;
  display: inline-block;
  padding: 0 3%;
  margin-bottom: 5%;
}

.lp-img-group1 p:nth-of-type(2) {
  position: relative;
  top: -20%;
  left: 24%;
}

.lp-img-group1 p:nth-of-type(3) {
  background-color: rgb(195, 236, 238);
  border-radius: 50px;
  display: inline-block;
  padding: 0 3%;
  position: relative;
  left: 30%;
}

.lp-blueArrow {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
}

.lp-environment2 img{
  width: 40%;

}

.lp-environment2 div {
  padding-top: 10%;
  width: 45%;
}

.lp-colmn2About div {
  width: 40%;
}

.lp-colmn2About img {
  width: 400px;
  height: 400px;
  border-radius: 50%;
  object-fit: cover;
}

.lp-subTitleProduct {
  text-align: center;
  display: inline-block;
}

.lp-products {
  background-color: rgb(236, 235, 235);
  padding: 5% 0;
}

.lp-product div{
  width: 80px;
  padding: 10% 30%;
  margin: 0 auto;
  height: 80%;
  background-color: white;
  border: 1px gray solid;
}

.lp-product {
  text-align: center;
  margin-top: 5%;
  /* height: 400px; */
}

.lp-product p {
  margin-top: 2%;
}

.lp-product p:nth-of-type(3) {
  width: 40%;
  margin: 2% auto;
}

